<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th></th>
                        <th class="text-center"></th>
                        <th class="text-center">Precio</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cart;let f = index">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" (click)="infoprod(f)"> <img class="media-object" src="{{ item.imagen }}" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a (click)="infoprod(f)">{{ item.descripcion }}</a></h4>
                                <h5 class="media-heading"> Categoría <a (click)="cat1(item.categoria)">{{ item.categoria}}</a></h5>
                             </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong></strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{ item.precio | number:'.2-2' }}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button (click)="remove(f)" type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remover
                        </button></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>${{ total | number:'.2-2' }}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button (click)="cat1()" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Seguir explorando
                        </button></td>
                        <td>
                        <button (click)="confirmar()" type="button" class="btn btn-success">
                            Enviar pedido <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>