    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary text-left ppequeno">
              <div class="panel-heading">
                <h3 class="panel-title">Inicio de sesión</h3>
              </div>
              <div  class="panel-body">
                <form role="form" [formGroup]="loginform">
                  <div class="form-group">
                      <label class="sr-only" for="exampleInputEmail2">Correo electrónico</label>
                      <input type="email" class="form-control" id="correo" placeholder="Correo electrónico" formControlName="correo" required>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputPassword2">Contraseña</label>
                      <input type="password" class="form-control" id="contrasena" placeholder="Contraseña" formControlName="contrasena" required>
                    </div>
                    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Recordarme
        </label>
      </div>
    </div>
                  <button  (click)="login()" type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                </form>
                 <div class="row">
                  <div class="col-md-6">
                      <a (click)="forgot()"><span class="glyphicon glyphicon-question-sign"></span> Olvidé mi contraseña</a>
                  </div>
                  <div class="col-md-6">
                      <a (click)="register()"><span class="glyphicon glyphicon-user"></span> Crear una cuenta</a>
                  </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>