<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li id="menu-inicio"><a (click)="menu()" routerLink="/admin">Inicio<span class="fa fa-home fa-fw pull-right" aria-hidden="true"></span></a></li>
                <li id="menu-usuarios"><a (click)="dashboard()" routerLink="usuarios/usuario-vista">Usuarios<span class="fa fa-users fa-fw pull-right" aria-hidden="true"></span></a></li>
                <li id="menu-tipos"><a (click)="dashboard()" routerLink="tipoUsuarios/tipoUsuario-vista">Tipos de Usuario<span class="fa fa-id-card-o fa-fw pull-right" aria-hidden="true"></span></a></li>
                <li id="menu-productos"><a (click)="dashboard()" routerLink="productos/producto-vista">Productos<span class="fa fa-camera-retro fa-fw pull-right" aria-hidden="true"></span></a></li>
                <li id="menu-categorias"><a (click)="dashboard()" routerLink="categorias/categoria-vista">Categorías<span class="fa fa-list-ul fa-fw pull-right" aria-hidden="true"></span></a></li>
                <li id="menu-etiquetas"><a (click)="dashboard()" routerLink="etiquetas/etiqueta-vista">Etiquetas<span class="fa fa-tags fa-fw pull-right" aria-hidden="true"></span></a></li>
                <li id="menu-etiquetasProducto"><a (click)="dashboard()" routerLink="etiquetas-producto/etiqueta-producto-vista">Productos y etiquetas<span class="fa fa-tags fa-fw pull-right" aria-hidden="true"></span></a></li>
                <li id="menu-imagenes"><a (click)="dashboard()" routerLink="imagenes/imagen-vista">Imágenes<span class="fa fa-picture-o fa-fw pull-right" aria-hidden="true"></span></a></li>
                <li id="menu-orden"><a (click)="dashboard()" routerLink="ordenesCompra/ordenCompra-vista">Órdenes de compra<span class="fa fa-file-text-o fa-fw pull-right" aria-hidden="true"></span></a></li>
            </ul>
        </div>
        <div class="container-fluid col-md-9">
          <div class="">
              <alert></alert>
            <router-outlet></router-outlet>
              <adminhome *ngIf="homemenu"></adminhome>
          </div>
        </div>
    </div>
</div>