<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="fa fa-cogs fa-fw"></span> Panel de Control</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4 col-md-4">
            <a routerLink="usuarios/usuario-vista" class="btn btn-success btn-lg btn-block" role="button"><span class="fa fa-users fa-fw"></span> <br/>Usuarios</a>
            </div>
            <div class="col-xs-4 col-md-4">
            <a routerLink="tipoUsuarios/tipoUsuario-vista" class="btn btn-danger btn-lg btn-block" role="button"><span class="fa fa-id-card-o fa-fw"></span> <br/>Tipo de usuarios</a>
            </div>
            <div class="col-xs-4 col-md-4">
            <a routerLink="productos/producto-vista" class="btn btn-primary btn-lg btn-block" role="button"><span class="fa fa-camera-retro fa-fw"></span> <br/>Productos</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-4">
            <a routerLink="categorias/categoria-vista" class="btn btn-warning btn-lg btn-block" role="button"><span class="fa fa-list-ul fa-fw"></span> <br/>Categorías</a>
            </div>
            <div class="col-xs-4 col-md-4">
            <a routerLink="etiquetas/etiqueta-vista" class="btn btn-warning btn-lg btn-block" role="button"><span class="fa fa-tags fa-fw"></span> <br/>Etiquetas</a>
            </div>
            <div class="col-xs-4 col-md-4">
            <a routerLink="imagenes/imagen-vista" class="btn btn-primary btn-lg btn-block" role="button"><span class="fa fa-picture-o fa-fw"></span> <br/>Imágenes</a>
            </div>
        </div>
        <a routerLink="ordenesCompra/ordenCompra-vista" class="btn btn-success btn-lg btn-block" role="button"><span class="fa fa-file-text-o fa-fw"></span> Órdenes de compra</a>
    </div>
</div>